body {
    background-image: url("C:/Users/praha/Downloads/—Pngtree—hexagonal abstract background with a_13478711.jpg");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1000px rgba(20, 20, 20, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="number"],
button {
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #00b34e;
}

.result {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
